@let card = this.card();

<article>
  <h3>{{card!.name}}</h3>
  <div
    class="picture-container"
    tabindex="0"
    (keyup.enter)="this.enounce.emit(card!.name)"
    (keyup.space)="this.enounce.emit(card!.name)"
    (click)="this.enounce.emit(card!.name)"
  >
    <picture>
      <source srcset="{{card!.src}}" type="image/jpg" />
      <img
        src="{{card!.src}}"
        type="image/jpg"
        width="256"
        height="auto"
        alt="{{card!.name}}"
      />
    </picture>
  </div>
  @if(card?.childrenIds?.length) {
  <nav>
    <button (click)="navigateIntoCard(card!.id)">
      Bekijk {{card!.name | lowercase }}
    </button>
  </nav>
  }
</article>
