@use "../../../../projects/ui/src/styles/vars.scss";
@use "../../../../projects/ui/src/styles/colors.scss";

:host {
  display: flex;
  flex: auto;
  $card-width: 17.25rem;

  :hover {
    background-color: colors.$background-color-more-lighter;
  }
  li {
    display: flex;
    flex-direction: column;
    gap: vars.$width-md;
  }

  article {
    gap: vars.$width-md;
    display: flex;
    flex-direction: column;

    border: solid vars.$border-md colors.$background-color-more-lighter;
    border-radius: vars.$width-md;

    padding: vars.$width-md;

    background-color: colors.$background-color-lighter;

    h3 {
      margin: vars.$width-md 0 vars.$width-md 0;
      text-transform: uppercase; // TODO instelling uppercase/normaal/lowercase
    }

    .picture-container {
      display: flex;
      justify-content: center;
      align-items: center;
      cursor: pointer;

      picture {
        img {
          max-height: 200px;
          min-width: 200px;
          width: 100%;
          -o-object-fit: fill;
          object-fit: fill;
          border-radius: 6px;
        }
      }
    }

    nav > button {
      height: vars.$btn-height-wcag; // WCAG
      width: 100%;
      background-color: colors.$background-color-main;
      color: colors.$text-color-main;
      border: solid vars.$border-md colors.$gray-400;
      border-radius: vars.$radius-md;
      cursor: pointer;

      &:hover,
      &:focus {
        background-color: colors.$background-color-light;
        color: colors.$text-color-main-invert;
      }
    }
  }

  @media (max-width: vars.$bp-md) {
    article {
      min-width: 100%;
    }
  }
}
