@use "../../../../projects/ui/src/styles/vars.scss";
@use "../../../../projects/ui/src/styles/colors.scss";

:host {
  $gap-sml: vars.$width-sm;
  $gap-nrm: vars.$width-md;

  $picture-min-min-width: 140px;
  $picture-min-max-height: 140px;
  $picture-max-min-width: 180px;
  $picture-max-max-height: 180px;

  display: flex;
  flex: auto;

  :hover {
    background-color: colors.$background-color-more-lighter;
  }
  li {
    display: flex;
    flex-direction: column;
    gap: vars.$width-md;
  }

  article {
    gap: vars.$width-md;
    display: flex;
    flex-direction: column;
    flex: auto;

    border: solid vars.$border-md colors.$background-color-more-lighter;
    border-radius: vars.$width-md;

    padding: $gap-nrm;

    background-color: colors.$background-color-lighter;

    h3 {
      margin: $gap-nrm 0 $gap-nrm 0;
      text-transform: uppercase; // TODO instelling uppercase/normaal/lowercase
    }

    .picture-container {
      display: flex;
      justify-content: center;
      align-items: center;
      cursor: pointer;

      picture {
        img {
          max-height: clamp(
            $picture-min-max-height,
            160px,
            $picture-max-max-height
          );
          min-width: clamp(
            $picture-min-min-width,
            160px,
            $picture-max-min-width
          );
          width: 100%;
          -o-object-fit: fill;
          object-fit: fill;
          border-radius: 6px;
        }
      }
    }

    nav {
      margin-top: auto;

      > button {
        height: vars.$btn-height-wcag; // WCAG
        width: 100%;
        background-color: colors.$background-color-main;
        color: colors.$text-color-main;
        border: solid vars.$border-md colors.$gray-400;
        border-radius: vars.$radius-md;
        cursor: pointer;

        &:hover,
        &:focus {
          background-color: colors.$background-color-light;
          color: colors.$text-color-main-invert;
        }
      }
    }
  }

  @media (max-width: vars.$bp-md) {
    article {
      min-width: 100%;
      padding: vars.$width-sm;
      border-width: vars.$border-sm;

      h3 {
        font-size: medium;
        margin: vars.$width-sm 0 vars.$width-sm 0;
      }
    }
  }
}
