@use "../../../../projects/ui/src/styles/vars.scss";

:host {
  .list {
    display: flex;
    flex-wrap: wrap;

    padding: 0;

    gap: vars.$width-lg;

    list-style: none;
  }

  @-webkit-keyframes scaleIn {
    from {
      opacity: 0;
      transform: scale(0.9 0.9);
    }
    to {
      opacity: 1;
      transform: scale(1 1);
    }
  }

  @keyframes scaleIn {
    from {
      opacity: 0;
      transform: scale(0.9 0.9);
    }
    to {
      opacity: 1;
      transform: scale(1 1);
    }
  }

  .scale-in {
    -webkit-animation: scaleIn 0.5s ease forwards;
    animation: scaleIn 0.5s ease forwards;
  }
}
