@use "../../../../projects/ui/src/styles/vars.scss";

:host {
  display: flex;

  .cards-container {
    display: flex;
    flex: auto;
  }

  .list {
    display: flex;
    flex: auto;
    flex-wrap: wrap;
    gap: vars.$width-lg;

    padding: 0;

    list-style: none;
  }

  .list-item {
    display: flex;
  }

  // scale cards on screens smaller than 1366px (tablets and phones)
  @media (max-width: vars.$bp-lg) {
    .list-item {
      flex: 1 0 33%;
      max-width: calc(33% - 0.54rem);
    }
  }

  // scale cards on screens smaller than 545px
  @media (max-width: 545px) {
    .list-item {
      flex: 1 0 33%;
      max-width: calc(50% - (vars.$width-lg / 2));
    }
  }

  // @media (max-width: vars.$bp-sm) {
  @media (max-width: 365px) {
    .list-item {
      flex: auto;
      max-width: initial;
    }
  }

  // scale cards on very small screens
  @-webkit-keyframes scaleIn {
    from {
      opacity: 0;
      transform: scale(0.9 0.9);
    }
    to {
      opacity: 1;
      transform: scale(1 1);
    }
  }

  @keyframes scaleIn {
    from {
      opacity: 0;
      transform: scale(0.9 0.9);
    }
    to {
      opacity: 1;
      transform: scale(1 1);
    }
  }

  .scale-in {
    -webkit-animation: scaleIn 0.5s ease forwards;
    animation: scaleIn 0.5s ease forwards;
  }

  @media (max-width: vars.$bp-md) {
    .list {
      gap: vars.$width-md;
    }
  }
}
