:host {
  li {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
  }

  article {
    gap: 0.5rem;
    display: flex;
    flex-direction: column;
    flex: 0 0 auto;
    min-width: 17.25rem;

    border: solid 2px grey;
    border-radius: 0.5rem;

    padding: 0.5rem;

    background-color: #444;
    cursor: pointer;

    h3 {
      margin: 0.5rem 0 0.5rem 0;
      text-transform: uppercase; // TODO instelling uppercase/normaal/lowercase
    }

    picture {
      img {
        width: 16rem;
        height: 16rem;
        object-fit: contain;
        clip-path: rect(0, 16rem, 16rem, 0);
      }
    }

    nav > button {
      height: 2rem;
      width: 100%;
      background-color: transparent;
      color: white;
      border: solid 2px grey;
      cursor: pointer;
    }
  }
}
