<nav class="nav-bar">
  @if (boardService.selectedGroupCard()?.parentId !== null) { @for (level of
  boardService.navigationStack(); track level[0]; let last = $last) { @if(!last)
  {
  <h2>{{level[1]}}</h2>
  } @else {
  <button aria-label="vorige categorie">
    <i class="fa-regular fa-solid fa-left-long"></i>
  </button>
  <h2>{{level[1]}}</h2>
  <button aria-label="volgende categorie">
    <i class="fa-regular fa-solid fa-right-long"></i>
  </button>
  } }
  <!-- <h2>{{boardService.selectedGroupCard()?.name}}</h2> -->

  } @else {
  <h2>Hoofdcategorieën</h2>
  }
</nav>
