@use "../../../../projects/ui/src/styles/vars.scss";
@use "../../../../projects/ui/src/styles/colors.scss";

:host {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: vars.$width-lg;
  border-bottom: solid vars.$border-sm colors.$background-color-lighter;

  min-height: 77px;
  max-height: 137px;
  overflow: auto;

  .nav-bar {
    display: flex;
    flex-wrap: wrap;
    align-items: center;

    gap: vars.$width-lg;
    margin: vars.$width-lg 0;

    h1 {
      margin: 0;
      margin-right: auto;
    }
    h2 {
      margin: 0;
      margin-right: auto;
      text-transform: uppercase;
    }

    button {
      all: unset;
      box-sizing: border-box;
      cursor: pointer;
      gap: 0.5rem;
      display: flex;
      justify-content: center;
      align-items: center;

      font-size: x-large;
      text-transform: uppercase;

      &.level-button {
        min-width: 276px;
        max-height: vars.$btn-height-wcag;
        height: vars.$btn-height-wcag;

        background-color: colors.$background-color-main;
        color: colors.$text-color-main;
        border: solid vars.$border-md colors.$gray-400;
        border-radius: vars.$radius-md;

        i {
          transform: scaleX(-1);
          font-size: large;
        }
      }
      &.icon-button {
        width: vars.$width-xl;
        height: vars.$width-xl;
        border-radius: vars.$radius-circle;
      }
      &:hover,
      &:focus {
        background-color: colors.$background-color-light;
        color: colors.$text-color-main-invert;
      }
    }
  }
}
