:host {
  display: flex;
  flex: 0 0 4.75rem;
  align-items: center;
  justify-content: space-between;

  border-bottom: solid 1px #555;

  .nav-bar {
    display: flex;
    align-items: center;

    gap: 1rem;

    padding: 0 1rem;

    h1 {
      margin: 0;
      margin-right: auto;
    }
    h2 {
      margin: 0;
      margin-right: auto;
      text-transform: uppercase;
    }
  }

  button {
    all: unset;
    cursor: pointer;

    display: flex;
    justify-content: center;
    align-items: center;

    font-size: x-large;
    text-transform: uppercase;

    &.level-button {
      min-width: 256px;
      max-height: 40px;
      height: 40px;
      padding: 0 0.5rem;

      background-color: rgb(44, 44, 44);
      color: white;
      border: solid 2px grey;
      border-radius: 6px;
    }
    &.icon-button {
      width: 2rem;
      height: 2rem;
      border-radius: 50%;
    }

    &:hover,
    &:focus {
      background-color: lightgray;
      color: black;
    }
  }
}
