@use "../../../../projects/ui/src/styles/vars.scss";
@use "../../../../projects/ui/src/styles/colors.scss";

:host {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 vars.$width-lg;
  border-bottom: solid vars.$border-sm rgb(47, 111, 115);

  min-height: 77px;
  overflow: hidden;

  .nav-bar {
    display: flex;
    flex-wrap: wrap;
    align-items: center;

    gap: vars.$width-lg;
    margin: vars.$width-lg 0;

    h1 {
      margin: 0;
      margin-right: auto;
    }
    h2 {
      margin: 0;
      margin-right: auto;
    }

    button {
      all: unset;
      box-sizing: border-box;
      cursor: pointer;
      gap: 0.5rem;
      display: flex;
      justify-content: center;
      align-items: center;

      font-size: clamp(1rem, 1.25em, 1.5rem);

      &.level-button {
        padding-right: vars.$width-lg;
        max-height: vars.$btn-height-wcag;
        height: vars.$btn-height-wcag;

        background-color: rgb(47, 111, 115);
        color: colors.$white;

        // background-color: colors.$background-color-main;
        // color: colors.$text-color-main;
        border: solid vars.$border-md rgb(47, 111, 115);
        border-radius: vars.$radius-md;

        justify-content: flex-start;

        i {
          font-size: large;
          width: 40px;
          height: 40px;
          display: flex;
          align-items: center;
          justify-content: center;
        }
      }
      &.icon-button {
        width: vars.$width-xl;
        height: vars.$width-xl;
        border-radius: vars.$radius-circle;
      }
      &:hover,
      &:focus {
        background-color: colors.$background-color-light;
        color: colors.$text-color-main-invert;
      }
      &.previous-level-button {
        display: none;
      }
      &.goto-level-button {
        display: flex;

        i {
          transform: rotate(90deg);
        }
      }

      @media (max-width: vars.$bp-md) {
        &.previous-level-button {
          display: flex;
          font-size: 1rem;
          flex: 1 1 auto;
          border: none;
        }
        &.goto-level-button {
          display: none;
        }
      }
    }
  }

  @media (max-width: vars.$bp-md) {
    padding: 0;
    min-height: 44px;
    height: 44px;
    max-height: 44px;
    .nav-bar {
      margin: 0;
      flex: 1 1 auto;
    }
  }
}
