@use "../ui/src/styles/vars";
@use "../ui/src/styles/colors";

html {
  touch-action: none;
}

html,
body,
app-root {
  background-color: colors.$background-color-main;
  color: colors.$text-color-main;
  height: 100%;
  width: 100%;
  overflow: hidden;
}
