:host {
  display: flex;

  section {
    display: flex;
    flex-direction: column;
    flex: 1 1 auto;
    gap: 1rem;
    padding: 1rem;

    .section-content {
      display: flex;
      flex-direction: row;
      align-self: flex-start;
      gap: 1rem;
    }
  }
}
