@use "../../../../projects/ui/src/styles/vars.scss";
@use "../../../../projects/ui/src/styles/colors.scss";

:host {
  display: flex;
  flex: 1 1 auto;

  .page {
    display: flex;
    flex: 1 1 auto;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: stretch;
  }

  .top-bar,
  .bottom-bar {
    display: flex;
    align-items: center;
    justify-content: space-between;

    gap: vars.$width-xl;

    padding: 0 vars.$width-lg;

    h1 {
      font-size: clamp(vars.$width-lg, 5vw, vars.$width-xl);
      white-space: nowrap;
      margin: 0;
      margin-right: auto;
    }
  }

  .top-bar {
    flex: 0 0 vars.$width-xxl;
    border-bottom: solid 1px colors.$white;
  }

  .bottom-bar {
    flex: 0 0 vars.$width-xl;
    border-top: solid 1px colors.$white;
  }

  .content {
    display: flex;
    flex: 1 1 auto;
    overflow: auto;

    @media (max-width: vars.$bp-lg) {
      flex-direction: column-reverse;
      pmp-nav-links-bar {
        border-bottom: solid 1px colors.$gray-700;
      }
    }

    .content-container {
      display: flex;
      flex-direction: column;
      flex: 1 1 auto;
      padding: 0 vars.$width-lg;

      overflow-x: hidden;
      overflow-y: auto;

      h2 {
        font-size: x-large;
        text-transform: uppercase;
      }
    }
  }

  .icon-button {
    all: unset;
    cursor: pointer;
    border-radius: 50%;
    width: vars.$width-xl;
    height: vars.$width-xl;
    display: flex;

    font-size: x-large;

    justify-content: center;
    align-items: center;
  }
}
