@use "../../../../projects/ui/src/styles/vars.scss";
@use "../../../../projects/ui/src/styles/colors.scss";

:host {
  display: flex;
  flex: 1 1 auto;

  .page {
    display: flex;
    flex: 1 1 auto;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: stretch;
  }

  .top-bar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: vars.$width-xl;
    padding: 0 vars.$width-lg;

    h1 {
      font-size: clamp(vars.$width-lg, 5vw, vars.$width-xl);
      white-space: nowrap;
      margin: 0;
      margin-right: auto;
    }
  }

  .top-bar {
    flex: 0 0 vars.$width-xxl;
    border-bottom: solid vars.$border-sm colors.$white;
  }

  .content {
    display: flex;
    flex: 1 1 auto;
    overflow: hidden;

    @media (max-width: vars.$bp-lg) {
      // moves links bar to top on small screens (tablets and phones)
      // flex-direction: column;
      pmp-nav-links-bar {
        display: none;
        // border-bottom: solid vars.$border-sm colors.$gray-700;
      }
    }

    .content-container {
      touch-action: pan-y;

      display: flex;
      flex-direction: column;
      flex: 1 1 auto;
      padding: 0 vars.$width-lg;

      overflow-x: hidden;
      overflow-y: auto;

      h2 {
        font-size: x-large;
      }
    }
  }

  .icon-button {
    all: unset;
    cursor: pointer;
    border-radius: 50%;
    width: vars.$width-xl;
    height: vars.$width-xl;
    display: flex;

    font-size: x-large;

    justify-content: center;
    align-items: center;
  }

  @media (max-width: vars.$bp-md) {
    .top-bar {
      gap: vars.$width-lg;
      padding: 0 vars.$width-md;
      h1 {
        margin-right: initial;
      }
    }
    .top-bar {
      flex: 0 0 44px;
    }

    .content {
      .content-container {
        padding: 0 vars.$width-md;

        h2 {
          font-size: larger;
          margin-top: calc(vars.$width-md + vars.$width-sm);
          margin-bottom: 0;
        }
      }
    }
    .icon-button {
      width: vars.$width-lg;
      height: vars.$width-lg;
      font-size: large;
    }
  }
}
