@use "../../../../projects/ui/src/styles/vars.scss";
@use "../../../../projects/ui/src/styles/colors.scss";

:host {
  display: flex;

  .links-container {
    display: flex;
    flex-direction: column;
    flex: 0 0 250px;
    gap: vars.$width-lg;
    border-left: solid vars.$border-sm colors.$background-color-lighter;
    padding: vars.$width-lg vars.$width-lg;
    overflow: auto;
    text-transform: uppercase;

    i {
      font-size: large;
      width: 40px;
      height: 40px;
      display: flex;
      align-items: center;
      justify-content: center;
    }

    .link-button {
      all: unset;
      gap: 0.5rem;

      box-sizing: border-box;
      cursor: pointer;
      width: vars.$width-full;
      min-height: vars.$btn-height-wcag;
      height: vars.$btn-height-wcag;
      background-color: colors.$background-color-main;
      color: colors.$text-color-main;
      border: solid vars.$border-md colors.$background-color-more-lighter;
      border-radius: vars.$radius-md;
      display: flex;

      font-size: clamp(1rem, 1.25em, 1.5rem);
      justify-content: flex-start;
      // justify-content: center;
      align-items: center;
      &:hover,
      &:focus {
        background-color: colors.$background-color-light;
        color: colors.$text-color-main-invert;
      }
    }
  }
}
