:host {
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;

  .ui-card {
    display: flex;
    flex-direction: column;

    border: solid 1px yellow;
    border-radius: 0.5rem;
    padding: 1rem;

    min-width: 350px;
    max-width: 350px;
  }
}
