:host {
  display: flex;
  flex: 1 1 auto;

  .page {
    display: flex;
    flex: 1 1 auto;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: stretch;
  }

  .top-bar,
  .nav-bar,
  .bottom-bar {
    display: flex;
    flex: 0 0 4rem;
    align-items: center;
    justify-content: space-between;

    gap: 2rem;

    padding: 0 1rem;

    h1 {
      margin: 0;
      margin-right: auto;
    }
  }

  .top-bar {
    border-bottom: solid 1px white;
  }

  .nav-bar {
    h2 {
      margin: 0;
      margin-right: auto;
      text-transform: uppercase;
    }
  }

  .bottom-bar {
    border-top: solid 1px white;
  }

  .content {
    display: flex;
    flex: 1 1 auto;

    padding: 1rem;

    overflow: auto;
  }

  button {
    all: unset;
    cursor: pointer;
    // border: solid 2px red;
    border-radius: 50%;
    width: 2rem;
    height: 2rem;
    display: flex;

    font-size: x-large;

    justify-content: center;
    align-items: center;
  }
}
