@use "../../../../projects/ui/src/styles/vars.scss";
@use "../../../../projects/ui/src/styles/colors.scss";

:host {
  display: flex;
  flex: 0 0 2rem;
  border-top: solid vars.$border-sm rgb(47, 111, 115);

  .bottom-bar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: vars.$width-xl;
    padding: 0 vars.$width-lg;
  }

  @media (max-width: vars.$bp-md) {
    flex: 0 0 1rem;

    .bottom-bar {
      flex: 1 1 auto;
      gap: vars.$width-lg;
      padding: 0 vars.$width-md;
      font-size: x-small;
      justify-content: center;
    }
  }
}
