$gray-900: rgb(33, 33, 33);
$gray-800: rgb(50, 50, 50);
$gray-700: rgb(66, 66, 66);
$gray-400: rgb(128, 128, 128);
$gray-200: rgb(186, 186, 186);
$gray-100: rgb(245, 245, 245);
$white: white;
$black: black;
$red: red;

$text-color-main: rgb(46, 46, 46);
$text-color-main-invert: rgb(246, 244, 239);

$background-color-main: rgb(246, 244, 239);
$background-color-lighter: rgb(220, 232, 228);
$background-color-more-lighter: $gray-400;
$background-color-light: rgb(212, 223, 199);
// $background-color-main: $gray-900;
// $background-color-lighter: $gray-700;
// $background-color-more-lighter: $gray-400;
// $background-color-light: $gray-200;

$text-color-main: $text-color-main;
$text-color-main-invert: $text-color-main-invert;
$text-color-error: $red;
